# Reading & Writing csv files As DataFrame (Pandas)

In [1]:
#Reading & writing - Using pandas
import pandas as pd

In [2]:
df = pd.read_csv('https://github.com/dayanandv/Data-Science/raw/main/dataset/CSV_EX_3.csv')

In [3]:
df

  Bedroom; Sq. foot; Locality; Price ($)
0                  2; 1500; Good; 300000
1                  3; 1300; Fair; 240000
2             3; 1900; Very good; 450000
3                   3; 1850; Bad; 280000
4                  2; 1640; Good; 310000

In [4]:
type(df) # It is a dataframe

pandas.core.frame.DataFrame

In [5]:
# write
df.to_csv('CSV_EX_3.csv')

In [6]:
df1 = pd.read_csv('https://github.com/dayanandv/Data-Science/raw/main/dataset/CSV_EX_1.csv')

In [7]:
# write
df1.to_csv('CSV_EX_1.csv')

In [8]:
df1

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [9]:
df1 = pd.read_csv('CSV_EX_1.csv')
df1

   Unnamed: 0  Bedroom   Sq. foot    Locality   Price ($)
0           0        2       1500        Good      300000
1           1        3       1300        Fair      240000
2           2        3       1900   Very good      450000
3           3        3       1850         Bad      280000
4           4        2       1640        Good      310000

In [10]:
df2 = pd.read_csv("CSV_EX_1.csv", header=None)
df2

     0        1          2           3           4
0  NaN  Bedroom   Sq. foot    Locality   Price ($)
1  0.0        2       1500        Good      300000
2  1.0        3       1300        Fair      240000
3  2.0        3       1900   Very good      450000
4  3.0        3       1850         Bad      280000
5  4.0        2       1640        Good      310000

In [11]:
#If you wish to change headings of columns
df3 = pd.read_csv("CSV_EX_1.csv", names=['BR','Sqft', 'Locality','Price'])
df3

          BR       Sqft    Locality       Price
NaN  Bedroom   Sq. foot    Locality   Price ($)
0.0        2       1500        Good      300000
1.0        3       1300        Fair      240000
2.0        3       1900   Very good      450000
3.0        3       1850         Bad      280000
4.0        2       1640        Good      310000

In [12]:
df4 = pd.read_csv('CSV_EX_1.csv')
df4

   Unnamed: 0  Bedroom   Sq. foot    Locality   Price ($)
0           0        2       1500        Good      300000
1           1        3       1300        Fair      240000
2           2        3       1900   Very good      450000
3           3        3       1850         Bad      280000
4           4        2       1640        Good      310000

In [13]:
#If you wish to remove the redundant column1
df5 = pd.read_csv("CSV_EX_1.csv", usecols=range(1,5))
df5

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [14]:
df6 = pd.read_csv('CSV_EX_1.csv',usecols=range(1,5), skiprows=2)
df6

   3  1300        Fair  240000
0  3  1900   Very good  450000
1  3  1850         Bad  280000
2  2  1640        Good  310000

In [15]:
#read only first 3
df7 = pd.read_csv('CSV_EX_1.csv', nrows=3)
df7

   Unnamed: 0  Bedroom   Sq. foot    Locality   Price ($)
0           0        2       1500        Good      300000
1           1        3       1300        Fair      240000
2           2        3       1900   Very good      450000