In [2]:
import pandas as pd

In [3]:
data = {"calories" : [420, 380, 390], "duration" : [50, 40, 45] }

df = pd.DataFrame(data, index=["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [4]:
df.loc["day2"]

calories    380
duration     40
Name: day2, dtype: int64

In [5]:
df.iloc[1]

calories    380
duration     40
Name: day2, dtype: int64

In [6]:
df1 = pd.DataFrame({"calories" : [42, 38, 39], "duration" : [5, 4, 4] }, index=["day4", "day5", "day6"])

df.append(df1)

C:\Users\91988\AppData\Local\Temp\ipykernel_16024\2544063659.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df1)

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4        42         5
day5        38         4
day6        39         4

In [7]:
ij1 = pd.DataFrame({
    'name' : ['Peter', 'Paul', 'Mary'],
    'food' : ['fish', 'beans', 'bread']
    },
    columns=['name', 'food']
)

ij2 = pd.DataFrame({
    'name' : ['Mary', 'Joseph'],
    'drink' : ['wine', 'beer']
    },
    columns=['name', 'drink']
)

pd.merge(ij1, ij2, how='inner')

   name   food drink
0  Mary  bread  wine

In [11]:
pd.merge(ij1, ij2, how='outer')

     name   food drink
0   Peter   fish   NaN
1    Paul  beans   NaN
2    Mary  bread  wine
3  Joseph    NaN  beer

In [12]:
pd.merge(ij1, ij2, how='left')

    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine

In [13]:
pd.merge(ij1, ij2, how='right')

     name   food drink
0    Mary  bread  wine
1  Joseph    NaN  beer

In [15]:
df.groupby('calories')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001AB12832DC0>

## Reading from a csv file

In [17]:
boston = pd.read_csv('./data.csv')

In [18]:
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9