# Pandas Series

In [ ]:
""" Python | Data analysis using Pandas
Pandas is the most popular python library that is used for data analysis. It provides highly optimized performance with 
back-end source code. It is purely written in C or Python.

We can analyze data in pandas with:

1.Series
2.DataFrames"""

In [ ]:
Series:
Series is one dimensional(1-D) array defined in pandas that can be used to store any data type.
#Code #1: Creating Series

In [4]:
import pandas as pd # Import Panda Library 
""" 
# Create series with Data, and Index Here, Data can be:

--A Scalar value which can be integerValue, string
--A Python Dictionary which can be Key, Value pair
--A Ndarray
Note: Index by default is from 0, 1, 2, â€¦(n-1) where n is length of data.
a = pd.Series(Data, index = Index) 
""";

In [5]:
import os

In [6]:
os.chdir("E:/2020/DS/19AI611/python_data_csv")

In [7]:
#reading csv file 
s = pd.read_csv("stock.csv", squeeze = False)
s.head()

   Stock Price
0        50.12
1        54.10
2        54.65
3        52.38
4        52.95

In [8]:
type(s)

pandas.core.frame.DataFrame

In [9]:
s = pd.read_csv("stock.csv", squeeze = True)
type(s)

pandas.core.series.Series

In [10]:
#squeeze : bool, default False-   If the parsed data only contains one column then return a Series.
print(s.count())

3012

In [11]:
# import pandas for reading csv file 
import pandas as pd 
#reading csv file 
s = pd.read_csv("stock.csv", squeeze = True)
s.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [12]:
print(s.count())

3012

In [13]:

#using count function 
print(s.count()) 

#using sum function 
print(s.sum()) 

#using mean function 
print(s.mean()) 

#calculatin average 
print(s.sum()/s.count()) 

#using std function 
print(s.std()) 

#using min function 
print(s.min()) 

#using max function 
print(s.max()) 

#using count function 
print(s.median()) 

#using mode function 
print(s.mode())

3012
1006942.0
334.31009296148744
334.3100929614874
173.18720477113106
49.95
782.22
283.315
0    291.21
dtype: float64

In [14]:
#using describe function 
print(s.describe())

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [15]:
#using count function 
print(s.idxmax())

3011

In [16]:
s.idxmax?

In [14]:
s[3011]

782.22

In [15]:
#using idxmin function 
print(s.idxmin())

11

In [16]:
s[11]

49.95

In [19]:
s

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [22]:
s.value_counts?

In [23]:
#The resulting object will be in descending order so that the first element is the most frequently-occurring element.
print(s.value_counts().head(3))

291.21    5
288.47    3
194.80    3
Name: Stock Price, dtype: int64