# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [1]:
import pandas as pd

In [2]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [4]:
type(weather_data)

dict

In [3]:
weather_data

{'day': ['1/1/2017',
  '1/2/2017',
  '1/3/2017',
  '1/4/2017',
  '1/5/2017',
  '1/6/2017'],
 'temperature': [32, 35, 28, 24, 32, 31],
 'windspeed': [6, 7, 2, 7, 4, 2],
 'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

In [4]:
df = pd.DataFrame(weather_data)

In [73]:
df = pd.read_csv("F:\classes\Data Science-2019\python_data_csv\weather_data.csv")
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [74]:
type(df)

pandas.core.frame.DataFrame

In [75]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [76]:
df.shape # rows, columns = df.shape

(9, 4)

## <font color='blue'>Rows</font>

In [77]:
df.head() # df.head(3)

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

In [78]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow

In [79]:
df.tail() # df.tail(2)

         day  temperature  windspeed   event
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [83]:
df[0:3]

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow

In [81]:
df[1:3]

        day  temperature  windspeed  event
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow

## <font color='blue'>Columns</font>

In [84]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [85]:
df['day'] # or df.day

0     1/1/2017
1     1/4/2017
2     1/5/2017
3     1/6/2017
4     1/7/2017
5     1/8/2017
6     1/9/2017
7    1/10/2017
8    1/11/2017
Name: day, dtype: object

In [86]:
type(df['day'])

pandas.core.series.Series

In [87]:
df[['day','temperature']]

         day  temperature
0   1/1/2017         32.0
1   1/4/2017          NaN
2   1/5/2017         28.0
3   1/6/2017          NaN
4   1/7/2017         32.0
5   1/8/2017          NaN
6   1/9/2017          NaN
7  1/10/2017         34.0
8  1/11/2017         40.0

## <font color='blue'>Operations On DataFrame</font>

In [88]:
df['temperature'].max()  # min, std, mean, describe

40.0

In [89]:
df[df['temperature']>32]

         day  temperature  windspeed   event
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [90]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

8    1/11/2017
Name: day, dtype: object

In [91]:
df['temperature'] == df['temperature'].max()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
Name: temperature, dtype: bool

In [92]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

         day  temperature  windspeed  event
8  1/11/2017         40.0       12.0  Sunny

In [93]:
df['temperature'].std()

4.3817804600413295

In [95]:
#df['event'].max() # But mean() won't work since data type is string

In [96]:
df.describe()

       temperature  windspeed
count      5.00000   5.000000
mean      33.20000   8.400000
std        4.38178   2.302173
min       28.00000   6.000000
25%       32.00000   7.000000
50%       32.00000   8.000000
75%       34.00000   9.000000
max       40.00000  12.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [97]:
df2 = df.set_index('day')   # pd.read_csv("weather.csv",parse_date=['day'])
df2

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [99]:
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [100]:
df.set_index('day', inplace=True) # modify original dataframe

In [101]:
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [102]:
df.index

Index(['1/1/2017', '1/4/2017', '1/5/2017', '1/6/2017', '1/7/2017', '1/8/2017',
       '1/9/2017', '1/10/2017', '1/11/2017'],
      dtype='object', name='day')

In [103]:
df.loc['1/6/2017']

temperature    NaN
windspeed        7
event          NaN
Name: 1/6/2017, dtype: object

In [105]:
df.reset_index(inplace=True)
df.head(2)

   index       day  temperature  windspeed  event
0      0  1/1/2017         32.0        6.0   Rain
1      1  1/4/2017          NaN        9.0  Sunny

In [106]:
df = pd.read_csv("F:\classes\Data Science-2019\python_data_csv\weather_data.csv")
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny

In [107]:
df.set_index('day', inplace=True) # modify original dataframe

In [109]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

        temperature  windspeed
event
Rain           32.0        6.0
Sunny           NaN        9.0
Snow           28.0        NaN
NaN             NaN        7.0
Rain           32.0        NaN
Sunny           NaN        NaN
NaN             NaN        NaN
Cloudy         34.0        8.0
Sunny          40.0       12.0

In [110]:
#df.loc['1/6/2017']....will not work, index changed

KeyError: 'the label [1/6/2017] is not in the [index]'

In [111]:
df.loc['Rain']

       temperature  windspeed
event
Rain          32.0        6.0
Rain          32.0        NaN