In [1]:
print("Hello World...!") #python 3 syntax

Hello World...!

In [2]:
print "Hello" #Python 2 syntax

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello" #Python 2 syntax)? (<ipython-input-2-0ac2b9750cd1>, line 1)

In [3]:
5+10

15

In [1]:
numbers=[1,2,3,4,5] #list data structure
print(numbers)
print(numbers[2])
print(numbers[2:4]) # : slicing operator
numbers[-1]

[1, 2, 3, 4, 5]
3
[3, 4]

5

In [2]:
import math
import random
import math as m
from math import *

In [7]:
math.sqrt(9)

3.0

In [ ]:
print(math.sqrt(9))
print(math.pi)
print(math.pow(2,3))
print(abs(-10))
print(max(1,2,3,4,5))
print(min(1,2,3,4,5))
print(math.sin(60))
print(math.e)
print(math.log(4))
print(math.log10(100))
print(round(23.45678,2))
print(random.random())

In [4]:
print(random.random())

0.6553242270331509

In [ ]:
#https://docs.python.org/3.1/library/random.html
The  module random  implements pseudo-random number generators for various distributions.  
random() is the most basic function of the random module.
Almost all functions of the random module depend on the basic function random().
random() return the next random floating-point number in the range [0.0, 1.0).

In [ ]:
random.randint(a, b)..Return a random integer N such that a <= N <= b.

In [ ]:
random.sample(population, k)
Return a k length list of unique elements chosen from the population sequence or set. Used for random sampling without replacement.

In [ ]:
random.random()        # Random float x, 0.0 <= x < 1.0
0.37444887175646646
>>> random.uniform(1, 10)  # Random float x, 1.0 <= x < 10.0
1.1800146073117523
>>> random.randint(1, 10)  # Integer from 1 to 10, endpoints included
7
>>> random.randrange(0, 101, 2)  # Even integer from 0 to 100
26
>>> random.choice('abcdefghij')  # Choose a random element
'c'

>>> items = [1, 2, 3, 4, 5, 6, 7]
>>> random.shuffle(items)
>>> items
[7, 3, 2, 5, 6, 4, 1]

>>> random.sample([1, 2, 3, 4, 5],  3)  # Choose 3 elements
[4, 1, 5]

In [7]:
nums=[1,2,3,4,5]
print(random.choice(nums))

5

In [9]:
random.shuffle(nums)
print(nums)

[2, 1, 4, 5, 3]

In [10]:
print(random.randrange(1,100,1))

96

In [21]:
import math
num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,(num//2)+1):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Enter a number: 3
3 is a prime number

In [20]:
num =5
print(num//2)
print(num/2)
type(num//2)

2
2.5

int

In [21]:
age=10
gender='male'
section='MTech'
height=6.2
Gender=20
AGE=50
_=10
print(age,gender,section,height,Gender,AGE,_)

10 male MTech 6.2 20 50 10

In [23]:
x,y,z=1,2.5,"kiran"
print(x,y,z)

1 2.5 kiran

In [25]:

"""
Standard datatypes in python
1. Numbers
2. String
3. List
4. Tuple
5. Dictionary

Python supports 4 numerical types
1. int
2. float
3. long
4. complex
""";

In [22]:
print("*****Creating and deleting object references*******")
var=10
print(var)
del var # del keyword used to delete the object reference.
print(var)

*****Creating and deleting object references*******
10

NameError: name 'var' is not defined

In [26]:
print("******Experiment on String type*******")
str = 'Hello World..!'
print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th
print(str[2:])      # Prints string starting from 3rd character
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string

******Experiment on String type*******
Hello World..!
H
llo
llo World..!
Hello World..!Hello World..!
Hello World..!TEST

In [27]:
print("******Python List type**********")
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 4th 
print(list[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times
print(list + tinylist) # Prints concatenated lists

******Python List type**********
['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [28]:
print("******Python Tuple type**********")
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)           # Prints complete list
print(tuple[0])        # Prints first element of the list
print(tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print(tuple[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists

******Python Tuple type**********
('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [30]:
print("*****difference between list and tuple")
#Difference between list and tuple
tuple[2] = 1000    # Invalid syntax with tuple

*****difference between list and tuple

TypeError: 'tuple' object does not support item assignment

In [31]:
list[2] = 1000     # Valid syntax with list
print("list is ",list)
print("tuple is",tuple)

list is  ['abcd', 786, 1000, 'john', 70.2]
tuple is ('abcd', 786, 2.23, 'john', 70.2)

In [1]:
print("******Python Dictionary Type**********")
"""
Dictionaries are enclosed by curly braces ({ }) and values can be 
assigned and accessed using square braces ([]).
"""
dict = {}
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

#keys can be any python data type generally numbers and strings.

print(tinydict)          # Prints complete dictionary
print(tinydict.keys())  # Prints all the keys
print(tinydict.values()) # Prints all the values

******Python Dictionary Type**********
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])